*.pyc
code/partition-comparison/build
code/model/cnn/*.pyc
code/model/mlp/*.pyc
code/database/*.pyc
code/common/*.pyc
code/model/*.pyc
code/web/*.pyc
code/offline/*.pyc
code/external/*.pyc
code/offline/ac3_input_0141.png
code/offline/classifyImage.pyc
code/offline/cnn.pyc
code/offline/generateTrainValTestData.pyc
code/offline/mlp.pyc
data/images/ac3_input_0141.png
code/offline/vsk_utils.pyc
code/common/settings.pyc
code/common/utility.pyc
code/model/datasets.pyc
code/common/paths.pyc
code/web/.project.py.swp
code/common/database.pyc
code/model/tasks.pyc
data/incoming
code/web/project.pyc
code/model/mlp_classifier.pyc
code/model/mlp_model.pyc
code/model/utility.pyc
code/external/logistic_sgd.pyc
code/external/mlp.pyc
code/web/browse.pyc
code/web/annotate.pyc
code/web/server.pyc
code/web/default.pyc
code/web/help.pyc
code/web/utility.pyc
.DS_Store
code/.DS_Store
code/web/.DS_Store
data/.DS_Store
code/web/annotate.pyc
code/web/resources/.DS_Store
code/web/viewer.pyc

