/*#toolbar-table {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 0px;
  border: 0px solid red;
  height: 620px;
  width: 50px;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left:260px;
  margin-bottom: 30px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  background: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
}*/

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;

          abackground-color: rgba(91, 43, 43, 1);
          abackground-color: rgba(127, 87, 86, 1);

  font-size: 14px;
  line-height: 150%;
  color: rgba(255,255,255,0.75);

}

body#page {
  background-color: rgba(91, 43, 43, 1);
  abackground-color: rgba(117, 137, 58, 1);
  abackground-color: #42531E;
  abackground-image: url(../images/page_background.png);
  acolor: #E6FFB0;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  background-position: 0 0;
  background-repeat: repeat-x;
   font-family="Futura LT W01 Book,Helvetica,sans-serif,Arial"

    /*    background: url(../images/page_gradient.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
}


.apage-background { 
  background-image: url(../images/page_gradient.png); 
  abackground-position: 50% -500px;
  background-position: 0 0;
  background-repeat: no-repeat;
  abackground-color: rgba(127, 87, 86, 1);
  border:1px solid red;
  height: 100%;
  width: 100%;
}

.stackelement {
  abackground: rgba(0, 0, 0, 1.0);
  aborder: 1px solid whitesmoke;
  scursor: ne-resize;
  aposition: absolute;
}
.stackimage {
  opacity: 1.0;
  width: 220px;
  height: 98px;
  abackground: yellow;
}
.stackimagex {
  opacity: 1.0;
  width: 200px;
  height: 98px;
  abackground: yellow;
}
.stackoverlay {
  aborder:1px solid #d3d3d3;
}

#sectionrange {
    position: absolute;
    top: 86px;
    left: 449px;
    color: rgba(255,255,255,0.45);
    acolor: rgba(255,255,0,0.5);
    -ms-transform: rotate(-95deg); /* IE 9 */
    -webkit-transform: rotate(-95deg); /* Chrome, Safari, Opera */
    transform: rotate(19deg);
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    height: 20px;
    width: 101px;
    aborder: solid red 1px;
    padding-left: 15px;
    padding-top: 5px;
    abackground: rgba(255,255,255,0.15);
    z-index: 101;
}

#sectionrangelabel {
    position: absolute;
    top: 84px;
    left: 330px;
    color: rgba(255,255,255,0.45);
    acolor: rgba(255,255,0,0.5);
    -ms-transform: rotate(-95deg); /* IE 9 */
    -webkit-transform: rotate(-95deg); /* Chrome, Safari, Opera */
    transform: rotate(-16deg);
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    height: 20px;
    width: 102px;
    aborder: solid red 1px;
    padding-left: 15px;
    padding-top: 5px;
    abackground: rgba(255,255,255,0.15);
    z-index: 101;
}



.footer
{
    position: absolute;
    left: 0px;
    right: 0;
    top: 690px;
    height: 200px;
    aborder: solid red 1px;

}

.header
{
    position: absolute;
    left: 0px;
    right: 0;
    top: 0px;
}

.credits
{
    position: absolute;
    left: 0px;
    right: 0;
    top: 74px;
    bottom: 0;5    padding-left: 5px;
    width: 20px; 
    height: 650px;
    aborder: solid red 1px;
    font-size: .75rem;
}

.toolbar
{
    position: absolute;
    left: 20px;
    right: 0;
    top: 100px;
    bottom: 0;
    padding-left: 1px;
    margin-top: 35px;

    width:35px; 
    height: 530px;
    overflow: auto;
    abackground: rgba(255,255,255,0.15);
    border: solid rgba(255,255,255,0.15) 1px;
    abackground-color: rgba(0, 0, 0, 0.5);
    background: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
}

.project
{
    color: rgba(255,255,255,0.75);
    margin-bottom: 2px;
    bottom: 0;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
    width: 254px; 
    height: 21px;
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    aborder: solid rgba(255,255,255,0.15) 1px;
    background: rgba(255,255,255,0.15);
    border-bottom: solid rgba(255,255,255,0.25) 1px;
    border-top: solid rgba(255,255,255,0.25) 1px;
}

.project:hover { 
    background-color: rgba(255,255,0,0.5) 
}

.project-selected
{
    background-color: rgba(255,255,0,0.5) 
}
/*.project-selected
{
    color: rgba(255,255,255,0.75);
    margin-bottom: 2px;
    bottom: 0;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 3px;
    width: 254px; 
    height: 20px;
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    aborder: solid rgba(255,255,0,0.45) 1px;
    background: rgba(255,255,0,0.25);
    border-bottom: solid rgba(255,255,255,0.25) 1px;
    border-top: solid rgba(255,255,255,0.25) 1px;

}*/

.slice-scrollbar-empty
{
    height: 32px;
    width: 17px; 
    margin-bottom: 2px;
    background: rgba(255,255,255,0.15);

}

#slice-scrollbar
{
    position: absolute;
    top: 100px;
    left: 305px;
    aborder: solid rgba(255,255,255,0.15) 1px;
    width: 17px;
    height: 585px;  
}


.projects
{
    position: absolute;
    top: 100px;
    left: 62px;
    right: 0;
    apadding-top: 35px;
    bottom: 0;
    width: 240px; 
    height: 565px;
    overflow: auto;
    aborder: solid green 2px;


}

.project-tools
{
    position: absolute;
    top: 100px;
    left: 5px;
    margin-top: 0px;
    margin-bottom: 2px;
    apadding-top: 40px;
    apadding-left: 10px;
    height: 564px;
    width:34px;
    abackground: rgba(255,255,255,0.15);

    aborder: solid red 1px;
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;

}

.projects-tools-empty
{
    height: 32px;
    width: 34px; 
    margin-bottom: 2px;
    background: rgba(255,255,255,0.15);

}

.project-toolbar
{
  background: rgba(255,255,255,0.15);
  height: 530px;
  padding-left: 1px;


}

#training_stack
{
    aborder: solid red 1px;
    width: 250px;
}



#project-scrollbar
{
    position: absolute;
    top: 100px;
    left: 42px;
    aborder: solid rgba(255,255,255,0.15) 1px;
    width: 17px;
    height: 530px;
}

.projects-scroll-empty
{
    height: 32px;
    width:17px;  
    background: rgba(255,255,255,0.15);
    margin-bottom: 2px;

}



.project-title
{
    margin-top: 0px;
    margin-bottom: 2px;
    padding-top: 5px;
    padding-left: 10px;
    height: 27px;
    width:239px;
    background: rgba(255,255,255,0.15);
    aborder: solid rgba(255,255,255,0.15) 1px;
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;

}


#project-list
{

}


.images{
    position: absolute;
    left: 322px;
    top: 60px;
    aborder: solid red 1px;
    width:275px; 
    height: 660px;
}

.slicenumber-label
{
      margin-left: 10px;
      padding-top: 8px;
   color: rgba(255,255,255,0.75);
  float: left;
  width: 40px;

}

#slicenumber {
      margin-left: 10px;
      padding-top: 8px;
   color: rgba(255,255,255,0.45);
  float: left;
  width: 200px;
  height: 26px;
  aborder: solid rgba(255,255,255,0.15) 1px;
  border-right: solid rgba(0,0,0,0.25) 3px;
}


/*.slicetype
{
  padding-left: 10px;
  padding-top: 8px;  
  background: rgba(255,255,255,0.15);
  float: left;
  margin: 2px;
  height: 22px;
  width: 186px;
}*/

.slicetype-label
{
      margin-left: 10px;
      padding-top: 8px;
   color: rgba(255,255,255,0.75);
  float: left;

}


#slicetype
{
      margin-left: 10px;
      padding-top: 8px;
      width: 100px;
      height: 30px;
      color: rgba(255,255,255,0.45);
      float: left;

      apadding-left: 10px;
      apadding-top: 8px;  
      abackground: rgba(255,255,255,0.15);
      afloat: left;
      amargin: 2px;
      aheight: 22px;
      awidth: 186px;
}



.slicetools
{
    position: absolute;
    left: 1130px;
    top: 98px; 
    height: 564px;
    width:34px;
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    abackground: rgba(255,255,255,0.15);
    aborder: solid rgba(255,255,255,0.15) 1px;
}

.slice-tools-empty
{
    height: 32px;
    width: 34px; 
    margin-bottom: 2px;
    background: rgba(255,255,255,0.15);

}

.legend-divider
{
  float: left;  
  border-right: 1px solid rgba(255,255,255,0.21);
  width: 110px;
  height: 60px;
  margin-left: 10px;
  margin-right: 5px;
}

.training-type
{
    float: left; 
    background: rgba(51,255,51,0.8);
    width: 30px;
    height: 3px;
    float:left;
    color: rgba(0,0,0,1);
    margin: 1px;
    font-size: 14px;
    padding: 3px;
    margin-top: 6px;

}

.training-image
{
    float: left; 
    width: 100px;
    height: 20px;
    float:left;
    font-size: 14px;
    margin-left: 5px;

}

.validation-type
{
    float: left; 
    background: rgba(0,255,255,1);
    width: 30px;
    height: 3px;
    float:left;
    color: rgba(0,0,0,1);
    margin: 1px;
    font-size: 14px;
    padding: 3px;
    margin-top: 6px;

}
.validation-image
{
    float: left; 
    background: rgba(0,255,255,0.8);
    width: 100px;
    height: 20px;
    afloat: left;  
    color: rgba(0,0,0,1);
    margin: 1px;
    font-size: 14px;
    padding: 5px;
    margin-left: 5px;
}

.legend
{
  width: 150px;
  float: left;  
}

.slice-toolbar
{
/*  background: rgba(255,255,255,0.15);
  height: 530px;
  padding-left: 1px;*/

        margin-left: 3px;
      padding-top: 2px;
   color: rgba(255,255,255,0.75);
  float: left;

}

#slicetoolbar
{
    aposition: absolute;
    aleft: 732px;
    atop: 372px;
    width: 515px;
    height: 30px;  
    aborder: solid red 1px;
    background: rgba(255,255,255,0.15);
    padding: 5px;

}
#slicetypetoolbar {
    background: rgba(255,255,255,0.15);
    color: rgba(255,255,255,0.75);
    position: absolute;
    left: 561px;
    top: 665px;
    width: 515px;
    height: 30px;  
    padding: 5px;

}

#edittoolbar {
    position: absolute;
    background: rgba(255,255,255,0.15);
    color: rgba(255,255,255,0.75);
    position: absolute;
    left: 561px;
    top: 665px;
    width: 515px;
    height: 30px;  
    padding: 5px;
}


.preview{
    position: absolute;
    margin-top: 35px;
    left: 561px;
    top: 100px;
    border: solid rgba(255,255,0,0.45) 1px;
    width:525px; 
    height: 525px;
    background: rgba(255,255,255,0.15);
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
}

.previewtools
{
    position: absolute;
    left: 561px;
    top: 100px; 
    height: 32px;
    width:526px;
    abackground: url("../images/module_dark.png") repeat scroll 0px 0px padding-box transparent;
    background: rgba(255,255,255,0.15);
    aborder: solid rgba(255,255,255,0.15) 1px;

}

.previewcontent
{
  width: 525px;
  height: 525px;
}
