.text {
  position: relative;
  height: 20px;
  margin-left: 32px;
  margin-top: 5px;
  color: rgba(255,255,255,0.5);
  font-size: 12px;
  border: 0px solid red;
  line-height: 30px;
}

.text.active,
.label_style:hover .text {
  color: rgba(255, 255, 255, 0.95);
}

.label_style {
  position: relative;
  width: 30px;
  height: 30px;
  aborder: 1px solid rgba(255, 255, 255, 1.0);
  margin-top: 3px;
  apadding-right: 13px;
  padding-left: 5px;
}

.labels_style {
  float: left;
  padding-top: 5px;
  width: 50px;
  height: 1024px;
  aalign-self: background-color: rgba(106, 65, 67, 1.0);
  abackground-color: rgba(255, 255, 255, 0.25);
  aborder: 1px solid rgba(255, 255, 255, 0.14);
  aborder-radius: 4px;
  /* overflow: scroll;*/

}



.gripper {
  aborder: 1px solid red;
  margin-top: 400px;
  height: 224px;
  width: 10px;
  float: right;
}


#labes_resizer {
  width: 20px;
  height: 184px;
  border: 0px solid red;

}

.nav_vertical_button_up,
.nav_vertical_button_down {
  height: 20px;
  width: 20px;
  border-radius: 0px;
  margin-left: 0px;
  border: 0px solid green;

}


.nav_vertical_button_up:hover,
.nav_vertical_button_up:active{background: url("../images/uparrows_on.svg") no-repeat scroll 0% 0% transparent;}

.nav_vertical_button_down:hover,
.nav_vertical_button_down:active{
  background: url("../images/uparrows_on.svg") no-repeat scroll 0% 0% transparent;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav_vertical_button_up {
  margin-top: 0px;
  margin-bottom: 0px;
  background: url("../images/uparrows_off.svg") no-repeat scroll 0% 0% transparent;

}

.shapeborder { border: 2px solid rgba(255, 255, 255, 0.45); }
.shapeborder.active,
.label_style:hover .shapeborder,
.label_style:active .shapeborder { border: 2px solid rgba(255, 255, 255, 0.95); }
.circle { border-radius: 50%; }
.outer {
  float: left;
  background-color: #512121;
  width:25px;
  height:25px;
  position:relative;
}

.inner {
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  position: relative;
}
