@font-face {
    font-family: "Connectomics Font";
    src: url(yanonekaffeesatz-regular-webfont.ttf) format("truetype");
}
p.customfont {
    font-family: "Connectomics Font", Verdana, Tahoma;
}

body {
  font-family: "Connectomics Font", Georgia, helvetica, arial;
  background-color: rgba(91, 43, 43, 1);
  color: #EBB7A5;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  background-position: 0px 0px;
  background-repeat: repeat-x;
}

body, html {
  font-size: 15px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.title {
  font-size: 46px;
}

.title-description {
  font-size: 10px;
}

.footer
{
    afloat: left;
    aposition: absolute;
    aleft: 0px;
    aright: 0;
    width: 600px;
    height: 200px;
    aborder: solid red 1px;

}

div.welcomepage_container
{
  text-align: center;
  position: relative;
  top: 30%;
  atransform: translateY(-40%);

}

div.welcomepage_inner
{
  text-align: left;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.thesis {
  float: left;
  height: 200px;
  width: 600px;
  opacity: 0.5;
  background: url("../images/thesis.svg") no-repeat scroll 0% 0% transparent;
}
